<% include ../partials/header %>
  <link href='/css/index.css' rel='stylesheet' type='text/css' />
  <% if (currentUser && currentUser._id.equals(user._id)) { %>
    <h1 class='header'>Hello <%= user.username %>!</h1>
  <% } else { %>
    <h1 class='header'>View <%= user.username %>'s Profile</h1>
  <% } %>

  <h3><%= user.primaryName %>
    <% if (user.otherNames.length > 0) { %>
      <% user.otherNames.map((each, index) => { %>
        <%= each %>
      <% }) %>
    <% } %>
    <%= user.secondaryName %></h3>
  <p><%= user.bio %></p>
  <h4>Country: <%= user.country %></h4>
  <h4>City: <%= user.city %></h4>
  <h4>Region: <%= user.region %></h4>
  <hr />
  <h2>Listings:</h2>

  <div class='listings_grid'>
    <% user.listings.forEach((each) => { %>
      <div class='listing'>
        <a href="/listings/<%= each._id %>">
          <img src='<%= each.imgs[0].src %>' />
        </a>

        <h4>
          <a href="/listings/<%= each._id %>"><%= each.name %></a> (<%= each.listingType %>)
        </h4>
        <h4>
          -by <em><a href='/user/<%= each.author.username %>'><%= each.author.username %></a></em>
        </h4>

        <% if (each.listingMode == 'offering') { %>
          <p><%= each.author.username %> is looking for someone to accept this offer!</p>
        <% } else { %>
          <p>Do you have somehting like this? Contact <%= each.author.username %>!</p>
        <% } %>

      </div>
    <% }); %>
  </div>

  <hr />
  <h3>Inbound Requests</h3>
  <% user.proposalsInbound.forEach(each => { %>
    <% if (!each.hidden && currentUser && currentUser._id.equals(user._id)) { %>
      <p><%= each.name %></p>
      <p><%= each.description %></p>
      <form action='/proposals/<%= each._id %>/accept?_method=PUT' method='POST'>
        <input type='submit' value='accept' />
      </form>
      <form action='/proposals/<%= each._id %>/decline?_method=PUT' method='POST'>
        <input type='submit' value='decline' />
      </form>
    <% } %>
  <% }) %>

  <hr />
  <h3>Outbound Offers</h3>
  <% user.proposalsOutbound.forEach(each => { %>
    <% if (!each.hidden && currentUser && currentUser._id.equals(user._id)) { %>
      <h4>To <%= each.targetUser.username %></h4>
      <p><%= each.name %></p>
      <p><%= each.description %></p>
      <a href='/proposals/<%= each._id %>/edit'>Edit this offer</a>
      <form action="/proposals/<%= each._id %>?_method=DELETE" method="POST">
        <input name='redir' value='/user/<%= user._id %>' hidden />
        <button>Retract Request</button>
      </form>
    <% } %>
  <% }) %>

  <hr />
  <p>Current User Object:</p>
  <p><%= currentUser %></p>
  <hr />
  <p>User Object:</p>
  <p><%= user %></p>
  <hr />

<% include ../partials/footer %>
